.Toolbar {
  height: 7%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: #703b09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 20px;
  box-sizing: border-box;
}

.Toolbar nav {
  height: 100%;
}

.Navigation {
  display: inline-block;
}

.Menu {
  display: none;
  color: white;
}

@media(max-width: 500px) {
  .Menu {
    display: inline-block;
  }

  .Navigation{
    display: none;
  }
}

.HamBurger {

}

.Line {
  height: 2px;
  width: 40px;
  background-color: white;
  margin-top: 10px;
}

.Line:first-of-type {
  margin-top: 0;
}
