.Navigation {
  list-style: none;
  height: 100%;
  display: flex;
}

.List {
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.List:active,
.List:hover,
.active {
  border-bottom: 5px solid rgba(18, 227, 241, 0.89);
  background-color: #ca8c52;
  box-sizing: border-box;
}

.List:last-of-type {
  margin-right: 40px;
}

.Link {
  text-decoration: none;
  color: white;
}

